USE [master]
GO
/****** Object:  Database [db41007]    Script Date: 08/06/2026 16:55:27 ******/
CREATE DATABASE [db41007]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db41007', FILENAME = N'D:\Services\MSSQL\Data\db41007.mdf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db41007_log', FILENAME = N'D:\Services\MSSQL\Data\db41007_log.ldf' , SIZE = 8192KB , MAXSIZE = 5242880KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db41007].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db41007]
GO
/****** Object:  FullTextCatalog [db41007]    Script Date: 08/06/2026 16:55:28 ******/
CREATE FULLTEXT CATALOG [db41007] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[APUESTA]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APUESTA](
	[ID_APUESTA] [int] IDENTITY(1,1) NOT NULL,
	[CANTIDAD] [decimal](10, 2) NOT NULL,
	[ID_PARTIDA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_APUESTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA_SALDO]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA_SALDO](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[SaldoAnterior] [decimal](18, 2) NOT NULL,
	[SaldoNuevo] [decimal](18, 2) NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificador] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTERA]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTERA](
	[ID_CARTERA] [int] IDENTITY(1,1) NOT NULL,
	[SALDO_ACTUAL] [decimal](10, 2) NOT NULL,
	[MONEDA] [varchar](10) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARTERA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUEGA]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUEGA](
	[ID_PARTIDA] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDA] ASC,
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JUEGO]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUEGO](
	[ID_JUEGO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_JUEGO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_JUEGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDA]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDA](
	[ID_PARTIDA] [int] IDENTITY(1,1) NOT NULL,
	[RESULTADO] [varchar](50) NOT NULL,
	[ID_JUEGO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecargasProcesadas]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecargasProcesadas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ProcessedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[ID_TRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[FECHA_TRANSACCION] [datetime2](7) NULL,
	[CANTIDAD] [decimal](18, 2) NOT NULL,
	[TIPO_TRANSACCION] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSACCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION_BACKUP]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION_BACKUP](
	[ID_TRANSACCION] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_TRANSACCION] [datetime2](7) NOT NULL,
	[CANTIDAD] [decimal](10, 2) NOT NULL,
	[TIPO_TRANSACCION] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[CONTRASENA] [varchar](100) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[PRIMER_APELLIDO] [varchar](100) NOT NULL,
	[SEGUNDO_APELLIDO] [varchar](100) NULL,
	[NOMBRE_USUARIO] [varchar](100) NOT NULL,
	[NICKNAME] [varchar](100) NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[EDAD] [int] NULL,
	[DNI] [varchar](20) NOT NULL,
	[SALDO] [decimal](18, 2) NOT NULL,
	[BANEADO] [bit] NOT NULL,
	[ROL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NOMBRE_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Telefono]    Script Date: 08/06/2026 16:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Telefono](
	[NUMERO] [varchar](20) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC,
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITORIA_SALDO] ADD  DEFAULT (getdate()) FOR [FechaModificacion]
GO
ALTER TABLE [dbo].[CARTERA] ADD  DEFAULT ((0)) FOR [SALDO_ACTUAL]
GO
ALTER TABLE [dbo].[RecargasProcesadas] ADD  DEFAULT (getdate()) FOR [ProcessedAt]
GO
ALTER TABLE [dbo].[TRANSACCION] ADD  DEFAULT (getdate()) FOR [FECHA_TRANSACCION]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [SALDO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((0)) FOR [BANEADO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ('User') FOR [ROL]
GO
ALTER TABLE [dbo].[APUESTA]  WITH CHECK ADD  CONSTRAINT [FK_APUESTA_PARTIDA] FOREIGN KEY([ID_PARTIDA])
REFERENCES [dbo].[PARTIDA] ([ID_PARTIDA])
GO
ALTER TABLE [dbo].[APUESTA] CHECK CONSTRAINT [FK_APUESTA_PARTIDA]
GO
ALTER TABLE [dbo].[CARTERA]  WITH CHECK ADD  CONSTRAINT [FK_CARTERA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[CARTERA] CHECK CONSTRAINT [FK_CARTERA_USUARIO]
GO
ALTER TABLE [dbo].[JUEGA]  WITH CHECK ADD  CONSTRAINT [FK_JUEGA_PARTIDA] FOREIGN KEY([ID_PARTIDA])
REFERENCES [dbo].[PARTIDA] ([ID_PARTIDA])
GO
ALTER TABLE [dbo].[JUEGA] CHECK CONSTRAINT [FK_JUEGA_PARTIDA]
GO
ALTER TABLE [dbo].[JUEGA]  WITH CHECK ADD  CONSTRAINT [FK_JUEGA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[JUEGA] CHECK CONSTRAINT [FK_JUEGA_USUARIO]
GO
ALTER TABLE [dbo].[PARTIDA]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDA_JUEGO] FOREIGN KEY([ID_JUEGO])
REFERENCES [dbo].[JUEGO] ([ID_JUEGO])
GO
ALTER TABLE [dbo].[PARTIDA] CHECK CONSTRAINT [FK_PARTIDA_JUEGO]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACCION_USUARIO]
GO
ALTER TABLE [dbo].[Usuario_Telefono]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[Usuario_Telefono] CHECK CONSTRAINT [FK_TELEFONO_USUARIO]
GO
USE [master]
GO
