<app-navbar></app-navbar>
<div class="about-wrapper">
  <div class="about-content">
    <h1 class="about-title">SOBRE NOSOTROS</h1>

    <p class="about-description">
      Plataforma de casino online multijugador con ASP.NET Core y Angular.
    </p>
    
    <p class="about-description">
      Experiencia de casino moderna y en tiempo real, ahora desde tu casa.
    </p>
    
    <p class="about-description">
      A través de una arquitectura cliente-servidor basada en WebSockets, permitirá a los jugadores interactuar como si estuvieran en una mesa real.
    </p>
    
    <p class="about-description">
      Proyecto ideado por cuatro integrantes.
    </p>

    <h2 class="team-title">TEAM TRICKED DICE</h2>

    <div class="team-grid">
        <!-- Hacer botones para enlaces a GitHub, y si acaso meter para LinkedIn -->
      <div class="team-card">
        <div class="team-card-image">
          <img src="">
        </div>
        <div class="team-card-info">
          <h3>Lucas</h3>
          <p>Descripción breve</p>
        </div>
      </div>

      <div class="team-card">
        <div class="team-card-image">
          <img src="">
        </div>
        <div class="team-card-info">
          <h3>Samuel</h3>
          <p>Descripción breve</p>
        </div>
      </div>

      <div class="team-card">
        <div class="team-card-image">
          <img src="">
        </div>
        <div class="team-card-info">
          <h3>Raúl</h3>
          <p>Descripción breve</p>
        </div>
      </div>

      <div class="team-card">
        <div class="team-card-image">
          <img src="">
        </div>
        <div class="team-card-info">
          <h3>Rubén</h3>
          <p>Descripción breve</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>